.test-wrapper {
  width: min-content;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  padding: 5px;
  border-radius: 10px;
  border-width: 2px;
}

.centered {
  text-align: center;
}

.header {
  margin-top: 50px;
  margin-bottom: 10px;
}

.header a {
  color: white;
}