.centered {
    color: white;
    text-align: center;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: dotted;
    border-width: 2px;
    border-color: white;
    border-radius: 15px;
}